<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SlothDB</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="container">
			{{{content}}} 
    </div>
</body>

</html>
